/* -------------------- */
/*** BASE ***/
html {
  height: 100%;
}
body {
  font-family: "Fira Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body * {
  box-sizing: border-box;
}
hr {
  width: 90%;
  text-align: center;
  background: #d5dadd;
}
p {
  color: #2e3538;
}
a {
  color: #2e3538;
  text-decoration: none;
}
a:hover {
  color: #505c62;
  text-decoration: none;
}
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e3538;
  margin: 0px 0px 10px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
button {
  background: #f4f5f6;
  color: #505c62;
}
button:focus {
  outline: none;
}
button:hover {
  background: #505c62;
  color: #f4f5f6;
}
@media (min-width: 769px) {
  aside {
    min-height: 600px;
  }
}
@media (min-width: 992px) {
  aside {
    min-height: 800px;
  }
}
@media (min-width: 1200px) {
  aside {
    min-height: 1000px;
  }
}
article {
  margin-bottom: 20px;
}
/*** ***/
/* -------------------- */
/******************/
/***** COLORS *****/
/******************/
/* Base */
/* Extended */
/* Special */
/* Contextual */
/* Links */
/***** BG-COLORS *****/
.ness-bg-blue {
  background: #3db8f5;
}
.ness-bg-darkblue {
  background: #0d59a5;
}
.ness-bg-darkblue:hover {
  background: #08335e;
}
.ness-bg-darkgrey {
  background: #505c62;
}
.ness-bg-graphite {
  background: #5c6970;
}
.ness-bg-green {
  background: #1fad72;
}
.ness-bg-sand {
  background: #f4d371;
}
.ness-bg-papyrus {
  background: radial-gradient(circle, #feeecd, #e8bb7d);
}
.ness-bg-red {
  background: #e0525b;
}
.ness-bg-seablue {
  background: #33ddff;
}
.ness-bg-steelgrey {
  background: #c7ced1;
}
.ness-bg-yellow {
  background: #ffe02e;
}
/***** TEXT-COLORS *****/
.ness-text-blue {
  color: #2b8cee;
}
.ness-text-darkblue {
  color: #0d59a5;
}
.ness-text-darkgrey {
  color: #2e3538;
}
.ness-text-graphite {
  color: #5c6970;
}
.ness-text-green {
  color: #1fad72;
}
.ness-text-sand {
  color: #f4d371;
}
.ness-text-papyrus {
  color: #e8bb7d;
}
.ness-text-red {
  color: #e0525b;
}
.ness-text-seablue {
  color: #33ddff;
}
.ness-text-steelgrey {
  color: #c7ced1;
}
.ness-text-yellow {
  color: #ffe02e;
}
/*** Backgrounds ***/
.bg-linear-grey {
  background: linear-gradient(145deg, #556168, #86959c);
  color: #ffffff;
}
.bg-linear-red {
  background: linear-gradient(145deg, #af0e1c, #ef3444);
  color: #ffffff;
}
.bg-linear-green {
  background: linear-gradient(145deg, #0eaf44, #34ef72);
  color: #ffffff;
}
.bg-linear-blue {
  background: linear-gradient(145deg, #0e5eaf, #3491ef);
  color: #ffffff;
}
.bg-linear-yellow {
  background: linear-gradient(145deg, #d1ae00, #ffde38);
  color: #ffffff;
}
/*** SIZE ***/
/* Base for other classes */
/* Paddings */
.no-padding {
  padding: 0px;
}
.padding-giant {
  padding: 32px;
}
.padding-big {
  padding: 24px;
}
.padding-large {
  padding: 20px;
}
.padding-medium {
  padding: 16px;
}
.padding-small {
  padding: 12px;
}
.padding-tiny {
  padding: 8px;
}
/* Margins */
.no-margin {
  margin: 0px;
}
.margin-giant {
  margin: 32px;
}
.margin-big {
  margin: 24px;
}
.margin-large {
  margin: 20px;
}
.margin-medium {
  margin: 16px;
}
.margin-small {
  margin: 12px;
}
.margin-tiny {
  margin: 8px;
}
/* Fonts */
.font-giant {
  margin: 32px;
}
.font-big {
  margin: 24px;
}
.font-large {
  margin: 20px;
}
.font-medium {
  margin: 16px;
}
.font-small {
  margin: 12px;
}
.font-tiny {
  margin: 8px;
}
/* Screen */
@font-face {
  font-family: 'Fira Sans';
  src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf');
}
@font-face {
  font-family: 'Fira Sans Bold';
  src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf');
}
@font-face {
  font-family: 'Fira Sans Italic';
  src: url('../fonts/Fira_Sans/FiraSans-Italic.ttf');
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'Open Sans Light';
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}
/*** GLOBAL MIXINS ***/
/**** KEYFRAMES *****/
@keyframes lightSpeedInX {
  0% {
    -webkit-transform: translateX(100%) skewX(-15deg);
    -ms-transform: translateX(100%) skewX(-15deg);
    transform: translateX(100%) skewX(-15deg);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateX(80%) skewX(-10deg);
    -ms-transform: translateX(80%) skewX(-10deg);
    transform: translateX(80%) skewX(-10deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-20%) skewX(10deg);
    -ms-transform: translateX(-20%) skewX(10deg);
    transform: translateX(-20%) skewX(10deg);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-5deg);
    -ms-transform: translateX(0%) skewX(-5deg);
    transform: translateX(0%) skewX(-5deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes lightSpeedOutX {
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: translateX(20%) skewX(10deg);
    -ms-transform: translateX(20%) skewX(10deg);
    transform: translateX(20%) skewX(10deg);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: translateX(60%) skewX(20deg);
    -ms-transform: translateX(60%) skewX(20deg);
    transform: translateX(60%) skewX(20deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(100%) skewX(20deg);
    -ms-transform: translateX(100%) skewX(20deg);
    transform: translateX(100%) skewX(20deg);
    opacity: 0;
  }
}
@keyframes lightSpeedInY {
  0% {
    -webkit-transform: translateY(100%) skewY(-15deg);
    -ms-transform: translateY(100%) skewY(-15deg);
    transform: translateY(100%) skewY(-15deg);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(80%) skewY(-10deg);
    -ms-transform: translateY(80%) skewY(-10deg);
    transform: translateY(80%) skewY(-10deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-20%) skewY(10deg);
    -ms-transform: translateY(-20%) skewY(10deg);
    transform: translateY(-20%) skewY(10deg);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateY(0%) skewY(-5deg);
    -ms-transform: translateY(0%) skewY(-5deg);
    transform: translateY(0%) skewY(-5deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0%) skewY(0deg);
    -ms-transform: translateY(0%) skewY(0deg);
    transform: translateY(0%) skewY(0deg);
    opacity: 1;
  }
}
@keyframes barAnimation {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(35%);
    -ms-transform: translateX(35%);
    transform: translateX(35%);
  }
  50% {
    -webkit-transform: translateX(70%);
    -ms-transform: translateX(70%);
    transform: translateX(70%);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/***** CLASSES *****/
.animate.lightSpeedInX {
  -webkit-animation-name: lightSpeedInX;
  animation-name: lightSpeedInX;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.animate.lightSpeedInX.lightSpeedOutX {
  animation-name: lightSpeedOutX;
}
.animate.lightSpeedInY {
  -webkit-animation-name: lightSpeedInY;
  animation-name: lightSpeedInY;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
/*********************/
/***** NESS GRID *****/
/*********************/
/***  Mixins ***/
/**
* Generate the 'ness-grid' which is a 12-column-based-flexbox grid
* Sizes : xs, sm, md, lg, xl (cf. 'width.less' for the values)
*/
.ness-grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.ness-grid .ness-xs-1 {
  box-sizing: border-box;
  transition: .2s;
  width: 8.33333333%;
}
.ness-grid .ness-xs-2 {
  box-sizing: border-box;
  transition: .2s;
  width: 16.66666667%;
}
.ness-grid .ness-xs-3 {
  box-sizing: border-box;
  transition: .2s;
  width: 25%;
}
.ness-grid .ness-xs-4 {
  box-sizing: border-box;
  transition: .2s;
  width: 33.33333333%;
}
.ness-grid .ness-xs-5 {
  box-sizing: border-box;
  transition: .2s;
  width: 41.66666667%;
}
.ness-grid .ness-xs-6 {
  box-sizing: border-box;
  transition: .2s;
  width: 50%;
}
.ness-grid .ness-xs-7 {
  box-sizing: border-box;
  transition: .2s;
  width: 58.33333333%;
}
.ness-grid .ness-xs-8 {
  box-sizing: border-box;
  transition: .2s;
  width: 66.66666667%;
}
.ness-grid .ness-xs-9 {
  box-sizing: border-box;
  transition: .2s;
  width: 75%;
}
.ness-grid .ness-xs-10 {
  box-sizing: border-box;
  transition: .2s;
  width: 83.33333333%;
}
.ness-grid .ness-xs-11 {
  box-sizing: border-box;
  transition: .2s;
  width: 91.66666667%;
}
.ness-grid .ness-xs-12 {
  box-sizing: border-box;
  transition: .2s;
  width: 100%;
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-1 {
    box-sizing: border-box;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-2 {
    box-sizing: border-box;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-3 {
    box-sizing: border-box;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-4 {
    box-sizing: border-box;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-5 {
    box-sizing: border-box;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-6 {
    box-sizing: border-box;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-7 {
    box-sizing: border-box;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-8 {
    box-sizing: border-box;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-9 {
    box-sizing: border-box;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-10 {
    box-sizing: border-box;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-11 {
    box-sizing: border-box;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 576px) {
  .ness-grid .ness-sm-12 {
    box-sizing: border-box;
    transition: .2s;
    width: 100%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-1 {
    box-sizing: border-box;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-2 {
    box-sizing: border-box;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-3 {
    box-sizing: border-box;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-4 {
    box-sizing: border-box;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-5 {
    box-sizing: border-box;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-6 {
    box-sizing: border-box;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-7 {
    box-sizing: border-box;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-8 {
    box-sizing: border-box;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-9 {
    box-sizing: border-box;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-10 {
    box-sizing: border-box;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-11 {
    box-sizing: border-box;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 769px) {
  .ness-grid .ness-md-12 {
    box-sizing: border-box;
    transition: .2s;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-1 {
    box-sizing: border-box;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-2 {
    box-sizing: border-box;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-3 {
    box-sizing: border-box;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-4 {
    box-sizing: border-box;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-5 {
    box-sizing: border-box;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-6 {
    box-sizing: border-box;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-7 {
    box-sizing: border-box;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-8 {
    box-sizing: border-box;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-9 {
    box-sizing: border-box;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-10 {
    box-sizing: border-box;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-11 {
    box-sizing: border-box;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 992px) {
  .ness-grid .ness-lg-12 {
    box-sizing: border-box;
    transition: .2s;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-1 {
    box-sizing: border-box;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-2 {
    box-sizing: border-box;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-3 {
    box-sizing: border-box;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-4 {
    box-sizing: border-box;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-5 {
    box-sizing: border-box;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-6 {
    box-sizing: border-box;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-7 {
    box-sizing: border-box;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-8 {
    box-sizing: border-box;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-9 {
    box-sizing: border-box;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-10 {
    box-sizing: border-box;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-11 {
    box-sizing: border-box;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 1200px) {
  .ness-grid .ness-xl-12 {
    box-sizing: border-box;
    transition: .2s;
    width: 100%;
  }
}
/*** FLEX **/
.flex {
  display: flex;
  align-content: flex-start;
}
.flex.row {
  flex-flow: row wrap;
}
.flex.row.center-center {
  justify-content: center;
  align-items: center;
}
.flex.row.center-bottom {
  justify-content: center;
  align-items: flex-end;
}
.flex.row.center-top {
  justify-content: center;
  align-items: flex-start;
}
.flex.row.center-stretch {
  justify-content: center;
  align-items: stretch;
}
.flex.row.center-baseline {
  justify-content: center;
  align-items: baseline;
}
.flex.row.left-center {
  justify-content: flex-start;
  align-items: center;
}
.flex.row.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex.row.left-top {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex.row.left-stretch {
  justify-content: flex-start;
  align-items: stretch;
}
.flex.row.left-baseline {
  justify-content: flex-start;
  align-items: baseline;
}
.flex.row.right-center {
  justify-content: flex-end;
  align-items: center;
}
.flex.row.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex.row.right-top {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex.row.right-stretch {
  justify-content: flex-end;
  align-items: stretch;
}
.flex.row.right-baseline {
  justify-content: flex-end;
  align-items: baseline;
}
.flex.row.split-center {
  justify-content: space-between;
  align-items: center;
}
.flex.row.split-bottom {
  justify-content: space-between;
  align-items: flex-end;
}
.flex.row.split-top {
  justify-content: space-between;
  align-items: flex-start;
}
.flex.row.split-stretch {
  justify-content: space-between;
  align-items: stretch;
}
.flex.row.split-baseline {
  justify-content: space-between;
  align-items: baseline;
}
.flex.row.space-center {
  justify-content: space-around;
  align-items: center;
}
.flex.row.space-bottom {
  justify-content: space-around;
  align-items: flex-end;
}
.flex.row.space-top {
  justify-content: space-around;
  align-items: flex-start;
}
.flex.row.space-stretch {
  justify-content: space-around;
  align-items: stretch;
}
.flex.row.space-baseline {
  justify-content: space-around;
  align-items: baseline;
}
.flex.column {
  flex-flow: column nowrap;
}
.flex.column.center-center {
  justify-content: center;
  align-items: center;
}
.flex.column.center-right {
  justify-content: center;
  align-items: flex-end;
}
.flex.column.center-left {
  justify-content: center;
  align-items: flex-start;
}
.flex.column.center-stretch {
  justify-content: center;
  align-items: stretch;
}
.flex.column.center-baseline {
  justify-content: center;
  align-items: baseline;
}
.flex.column.top-center {
  justify-content: flex-start;
  align-items: center;
}
.flex.column.top-right {
  justify-content: flex-start;
  align-items: flex-end;
}
.flex.column.top-left {
  justify-content: flex-start;
  align-items: flex-start;
}
.flex.column.top-stretch {
  justify-content: flex-start;
  align-items: stretch;
}
.flex.column.top-baseline {
  justify-content: flex-start;
  align-items: baseline;
}
.flex.column.bottom-center {
  justify-content: flex-end;
  align-items: center;
}
.flex.column.bottom-right {
  justify-content: flex-end;
  align-items: flex-end;
}
.flex.column.bottom-left {
  justify-content: flex-end;
  align-items: flex-start;
}
.flex.column.bottom-stretch {
  justify-content: flex-end;
  align-items: stretch;
}
.flex.column.bottom-baseline {
  justify-content: flex-end;
  align-items: baseline;
}
.flex.column.split-center {
  justify-content: space-between;
  align-items: center;
}
.flex.column.split-right {
  justify-content: space-between;
  align-items: flex-end;
}
.flex.column.split-left {
  justify-content: space-between;
  align-items: flex-start;
}
.flex.column.split-stretch {
  justify-content: space-between;
  align-items: stretch;
}
.flex.column.split-baseline {
  justify-content: space-between;
  align-items: baseline;
}
.flex.column.space-center {
  justify-content: space-around;
  align-items: center;
}
.flex.column.space-right {
  justify-content: space-around;
  align-items: flex-end;
}
.flex.column.space-left {
  justify-content: space-around;
  align-items: flex-start;
}
.flex.column.space-stretch {
  justify-content: space-around;
  align-items: stretch;
}
.flex.column.space-baseline {
  justify-content: space-around;
  align-items: baseline;
}
/* -------------------- */
/***** BUTTONS *****/
.ness-btn-group {
  padding: 8px;
}
.ness-btn-group .ness-btn {
  margin: 4px;
}
.ness-btn {
  background: #f4f5f6 !important;
  border: 1px solid #d5dadd;
  color: #505c62 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.ness-btn:focus {
  outline: none;
}
.ness-btn:hover {
  background: #505c62 !important;
  border-color: #5c6970 !important;
  color: white !important;
}
.ness-btn.no-border {
  border: none;
}
.ness-btn.small {
  border: 3px solid #819098;
  font-size: 14px;
  padding: 10px;
}
.ness-btn.medium {
  border: 3px solid #819098;
  font-size: 18px;
  padding: 16px;
}
.ness-btn.big {
  border: 3px solid #819098;
  font-size: 22px;
  padding: 20px;
}
.ness-btn.giant {
  border: 6px solid #819098;
  font-size: 32px;
  padding: 24px;
}
.ness-btn.ness-btn-danger {
  background: #a50d1a !important;
  border: 1px solid #a50d1a !important;
  color: white !important;
}
.ness-btn.ness-btn-danger:hover {
  background: #760a13 !important;
  color: white !important;
}
.ness-btn.ness-btn-primary {
  background: #0d59a5 !important;
  border: 1px solid #0d59a5 !important;
  color: white !important;
}
.ness-btn.ness-btn-primary:hover {
  color: white !important;
  background: #0a4076 !important;
}
.ness-btn.ness-btn-success {
  background: #0da540 !important;
  border: 1px solid #0da540 !important;
  color: white !important;
}
.ness-btn.ness-btn-success:hover {
  color: white !important;
  background: #0a762e !important;
}
.ness-btn.ness-btn-warning {
  background: #eeaf2f !important;
  border: 1px solid #b89714 !important;
  color: white !important;
}
.ness-btn.ness-btn-warning:hover {
  background: #d99712 !important;
  color: white !important;
}
/*** SHAPE ***/
.ness-box {
  content: '';
  width: 9px;
  height: 5px;
  bottom: 0px;
  top: 2px;
  right: -2px;
  border: 3px solid #0faebd;
  border-top: none;
  border-right: none;
  background: transparent;
  position: absolute;
  transform: rotate(-45deg);
}
.parallelogram {
  -webkit-transform: skew(-20deg);
  -moz-transform: skew(-20deg);
  -o-transform: skew(-20deg);
}
.parallelogram:hover {
  background: #505c62;
}
.yin-yang {
  width: 96px;
  height: 48px;
  background: #f4f5f6;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
}
.yin-yang:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #f4f5f6;
  border: 18px solid red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
.yin-yang:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #2e3538;
  border: 18px solid #eee;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}
/*** MENU ***/
.ness-menu {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 770px) {
  .ness-menu {
    flex-flow: row nowrap;
  }
}
.ness-menu li {
  color: #505c62;
  cursor: pointer;
  transition: .15s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}
.ness-menu li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
@media (min-width: 770px) {
  .ness-menu li {
    border-bottom: none;
  }
  .ness-menu li:not(:last-of-type) {
    border-bottom: none;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
  }
}
.ness-menu li:hover {
  z-index: 1;
}
.ness-menu li a {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #505c62;
  cursor: pointer;
  padding: 8px 12px;
  transition: .15s;
}
.ness-menu li a:hover {
  background: #f4f5f6;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.8);
  color: #505c62;
  text-decoration: none;
}
.ness-menu.border {
  border: 1px solid rgba(26, 26, 26, 0.8);
}
.ness-menu.border .dropdown-content {
  border: 1px solid rgba(26, 26, 26, 0.8);
}
.ness-menu.round > li:first-of-type a {
  border-radius: 4px 4px 0px 0px;
}
.ness-menu.round > li:last-of-type a {
  border-radius: 0px 0px 4px 4px;
}
@media (min-width: 770px) {
  .ness-menu.round > li:first-of-type a {
    border-radius: 4px 0px 0px 4px;
  }
  .ness-menu.round > li:last-of-type a {
    border-radius: 0px 0px 0px 0px;
  }
}
.ness-menu.grey {
  background: #505c62;
}
.ness-menu.grey a {
  background: #505c62;
  color: #f9fafa;
}
.ness-menu.grey a:hover {
  color: #505c62;
}
.ness-menu.grey .dropdown-content {
  background: #49545a;
}
.ness-menu.grey .dropdown-content a {
  background: #49545a;
}
.ness-menu.red {
  background: #a50d1a;
}
.ness-menu.red a {
  background: #a50d1a;
  color: #f9fafa;
}
.ness-menu.red a:hover {
  color: #a50d1a;
}
.ness-menu.red .dropdown-content {
  background: #970c18;
}
.ness-menu.red .dropdown-content a {
  background: #970c18;
}
.ness-menu.green {
  background: #0da540;
}
.ness-menu.green a {
  background: #0da540;
  color: #f9fafa;
}
.ness-menu.green a:hover {
  color: #0da540;
}
.ness-menu.green .dropdown-content a {
  background: #0c973a;
}
.ness-menu.blue {
  background: #0d59a5;
}
.ness-menu.blue a {
  background: #0d59a5;
  color: #f9fafa;
}
.ness-menu.blue a:hover {
  color: #0d59a5;
}
.ness-menu.blue .dropdown-content a {
  background: #0c5297;
}
.ness-menu .fa {
  font-size: .9em;
  padding-left: 10px;
}
.ness-menu.has-dropdown {
  position: relative;
}
.ness-menu .dropdown-content {
  display: none;
  flex-direction: column;
  list-style-type: none;
  box-shadow: 0px 0px 4px #2e3538;
  padding: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1;
}
@media (min-width: 770px) {
  .ness-menu .dropdown-content {
    width: initial;
  }
}
.ness-menu .dropdown-content li:hover {
  z-index: 2;
}
.ness-menu .dropdown-content li:hover a {
  background: #f4f5f6;
  z-index: 2;
}
.ness-menu.burger {
  display: none;
}
@media (min-width: 770px) {
  .ness-menu.burger {
    display: flex;
  }
}
.ness-menu .glyphicon {
  padding-right: 12px;
}
.has-burger {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
.toggle-burger {
  border: 1px solid #505c62;
  border-radius: 5px;
  cursor: pointer;
  color: #505c62;
  font-size: 1.3em;
  margin-bottom: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
@media (min-width: 770px) {
  .toggle-burger {
    display: none;
  }
}
.toggle-burger:hover {
  color: #819098;
}
.ness-caption {
  border: 1px solid #1f3d47;
  margin-bottom: 15px;
  min-width: 100px;
  border-radius: 5px;
}
.ness-caption .toggle-caption {
  background-color: #0faebd;
  border-radius: 50%;
  color: #172e36;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  height: 24px;
  width: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.ness-caption .toggle-caption:hover {
  background-color: #13daec;
}
.ness-caption .title {
  background-color: #172e36;
  border-radius: 2px 2px 0px 0px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #f4f5f6;
  padding: 8px;
}
.ness-caption .content {
  border-radius: 0px 0px 5px 5px;
  font-size: 14px;
  padding: 8px;
  transition: transform .3s ease;
}
.ness-caption .content.closed {
  transform: translate(0, -100%);
}
.ness-caption .content.opened {
  transform: translate(0, 0%);
}
.ness-caption.hide .title {
  border-radius: 2px;
}
.ness-caption.hide .content {
  display: none;
}
.ness-caption.hide .toggle-caption {
  color: white;
}
/*** BLOCKS ***/
.ness-block {
  background: #f4f5f6;
  display: block;
  padding: 16px;
  position: relative;
  transition: .2s;
}
.ness-edit-block .edit {
  display: none;
}
.ness-edit-block.edit-mode .edit {
  display: block;
}
.ness-edit-block.edit-mode .noedit {
  display: none;
}
/***** ALERTS *****/
.ness-alert {
  background: #f4f5f6;
  border: 1px solid #d5dadd;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  left: 10%;
  top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
  padding: 20px;
  width: 100%;
  z-index: 3;
}
.ness-alert.success {
  background: #2bee6c;
  border: 1px solid #11d452;
  color: white;
}
.ness-alert.danger {
  background: #ee2b3b;
  border: 1px solid #d41121;
  color: white;
}
.ness-alert.neutral {
  background: #2b8cee;
  border: 1px solid #1173d4;
  color: white;
}
.ness-alert.three-d {
  box-shadow: 0px 1px 3px 1px grey;
}
/*** CUSTOMIZATION ***/
.border {
  border: 1px solid #d5dadd;
}
.no-border {
  border: none !important;
}
.inverse {
  background: #505c62;
}
.inverse * {
  color: #f4f5f6;
}
.failure {
  background: #fde7e9;
  border: 1px solid #fac2c6;
}
.failure * {
  color: #a50d1a;
}
.success {
  background: #e7fdef;
  border: 1px solid #c2fad4;
}
.success * {
  color: #0da540;
}
.info {
  background: #e7f2fd;
  border: 1px solid #c2defa;
}
.info * {
  color: #0d59a5;
}
.neutral {
  background: #f4f5f6;
  border: 1px solid #dde1e3;
}
.neutral * {
  color: #819098;
}
.warning {
  background: #f7daa1;
  border: 1px solid #f4cc7b;
}
.warning * {
  color: #a5730d;
}
.round {
  border-radius: 5px;
}
.three-d {
  box-shadow: 0px 1px 5px 1px #819098;
}
.shadow {
  box-shadow: 0px 1px 4px 1px #819098;
}
.hover :hover {
  background: #505c62;
  border: #505c62;
  color: white !important;
}
.hover :hover h1,
.hover :hover h2,
.hover :hover h3,
.hover :hover h4,
.hover :hover h5,
.hover :hover h6,
.hover :hover li,
.hover :hover p,
.hover :hover span {
  color: #f4f5f6 !important;
}
.hover :hover .text-muted {
  color: #d5dadd !important;
}
.hover :hover .ness-bar {
  border: none;
}
/*********************/
/***** NESS FORM *****/
/*********************/
/* # Form Container */
.ness-form-container {
  padding: 12px;
}
/* # Form */
.ness-form input:not([type=checkbox]),
.ness-form select,
.ness-form textarea {
  box-sizing: border-box;
  color: #505c62;
  font-size: 16px;
  padding: 4px 8px;
  line-height: 24px;
  height: 32px;
  min-width: 40px;
  transition: 0.2s;
}
.ness-form label {
  display: flex;
  font-size: 14px;
  margin-bottom: 8px;
}
.ness-form label:first-child {
  margin-right: 8px;
}
.ness-form label:last-child {
  margin-left: 8px;
}
.ness-form input:active,
.ness-form input:focus {
  color: #2e3538;
  border-bottom-color: #2b8cee;
  outline: none;
}
.ness-form select {
  box-sizing: border-box;
  color: #505c62;
  font-size: 16px;
  padding: 4px 8px;
  line-height: 24px;
  height: 32px;
  min-width: 40px;
  transition: 0.2s;
}
.ness-form select:active,
.ness-form select:focus {
  color: #2e3538;
  outline: none;
}
.ness-form textarea {
  box-sizing: border-box;
  color: #505c62;
  font-size: 16px;
  padding: 4px 8px;
  line-height: 24px;
  height: 32px;
  min-width: 40px;
  transition: 0.2s;
}
.ness-form textarea:active,
.ness-form textarea:focus {
  color: #2e3538;
  border-bottom-color: #2b8cee;
  outline: none;
}
/* # Form group */
.ness-form-group {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 24px;
}
/* # Mixins */
/* # Input */
.ness-input {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #d5dadd;
  min-width: 40px;
}
.ness-input:active,
.ness-input:focus {
  outline: none;
}
/* # Select */
.ness-select {
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #d5dadd;
  min-width: 40px;
  padding: 8px 12px;
}
.ness-select:active,
.ness-select:focus {
  outline: none;
}
/* # Option container */
.ness-option-container {
  box-shadow: 0px 1px 3px 1px #819098;
  max-height: 220px;
  overflow-y: auto;
}
.ness-option-container.no-limit {
  max-height: none;
}
/* # Option group */
.ness-option-group {
  list-style-type: none;
  padding: 0;
  position: relative;
  width: 100%;
  display: none;
  display: flex;
  flex-flow: column nowrap;
  margin: 0px;
  min-width: 40px;
}
.ness-option-group.circle {
  list-style-type: circle;
}
.ness-option-group.square {
  list-style-type: square;
}
.ness-option-group .item {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 6px 4px;
  width: 100%;
}
.ness-option-group .item .fa,
.ness-option-group .item .glyphicon {
  padding-right: 4px;
}
/* # Option */
.ness-option {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 44px;
  padding: 0px 16px;
  width: 100%;
  transition: 0.2s;
}
.ness-option-xs {
  height: 20px;
}
.ness-option-sm {
  height: 28px;
}
.ness-option-md {
  height: 36px;
}
.ness-option-lg {
  height: 44px;
}
.ness-option-xl {
  height: 52px;
}
.ness-option a {
  display: flex;
}
.ness-option:hover {
  background: #f4f5f6;
  color: #000000;
}
.ness-option:hover a {
  background: #f4f5f6;
  color: #000000;
}
/* # Checkbox group */
.ness-checkbox-group {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}
/* # Checkbox */
.ness-checkbox {
  background: #d5dadd;
  height: 16px;
  width: 16px;
  position: relative;
  font-size: 24px;
  position: absolute;
  left: 1px;
  top: -15px;
  opacity: 1.0;
  transition: 0.3s;
}
.ness-checkbox-neutral {
  background: #d5dadd;
}
.ness-checkbox-primary {
  background: #2b8cee;
}
.ness-checkbox.big {
  height: 24px;
  width: 24px;
}
.ness-checkbox.big .checksign {
  font-size: 32px;
  left: 3px;
  top: -12px;
}
.ness-checkbox ~ [type=checkbox] {
  display: none;
}
.ness-checkbox-neutral {
  color: #505c62;
}
.ness-checkbox-primary {
  color: #2b8cee;
}
.ness-checkbox:after {
  content: '\002713';
}
/* # Checksign */
.ness-checksign {
  font-size: 24px;
  position: absolute;
  left: 1px;
  top: -15px;
  opacity: 1.0;
  transition: 0.3s;
}
.ness-checksign-neutral {
  color: #505c62;
}
.ness-checksign-primary {
  color: #2b8cee;
}
.ness-checksign:after {
  content: '\002713';
}
/* # Misc */
.remove-input {
  color: #ee2b3b;
  cursor: pointer;
  font-size: 22px;
}
.remove-input:hover {
  color: #a50d1a;
}
.add-input,
.add-option {
  color: #2bee6c;
  cursor: pointer;
  font-size: 18px;
}
.add-input:hover,
.add-option:hover {
  color: #0da540;
}
.remove-input,
.remove-option {
  color: #ee2b3b;
  cursor: pointer;
  font-size: 18px;
}
.remove-input:hover,
.remove-option:hover {
  color: #a50d1a;
}
.edit {
  display: none;
}
.edit-mode .edit {
  display: block;
}
.edit-mode .noedit {
  display: none;
}
/* # Variables */
/*** TABLE ***/
.ness-table-container {
  align-self: stretch;
  border: 1px solid #f1f3f4;
  margin: 10px auto;
  overflow-x: auto;
  width: 100%;
}
.ness-table-container.half {
  width: 50%;
}
.ness-table-container.xs {
  width: 280px;
}
.ness-table-container.sm {
  width: 450px;
}
.ness-table-container.md {
  width: 720px;
}
.ness-table-container.lg {
  width: 950px;
}
.ness-table-container table {
  border-collapse: collapse;
  color: black;
  font-size: 0.9em;
  margin: auto;
  width: 100%;
}
.ness-table-container table thead tr {
  background: #505c62;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.ness-table-container table tbody tr {
  color: black;
  cursor: pointer;
  transition: 0.10s;
}
.ness-table-container table tbody tr:nth-child(even) {
  background: #f4f5f6;
}
.ness-table-container table tbody tr:nth-child(odd) {
  background: #ffffff;
}
.ness-table-container table tbody tr:hover {
  background: #2b8cee;
  color: white;
}
.ness-table-container table tbody tr:hover a {
  color: white;
}
.ness-table-container table tbody tr a {
  text-decoration: none;
}
.ness-table-container table th {
  color: white;
  padding: 8px 16px;
  text-align: left;
}
.ness-table-container table th:not(:last-child) {
  border-right: 1px solid #f1f3f4;
}
.ness-table-container table th:hover {
  background: #404a4f;
}
.ness-table-container table td {
  padding: 8px 16px;
}
.ness-table-container table td:not(:last-child) {
  border-right: 1px solid #f1f3f4;
}
.ness-table-container table td:last-child {
  cursor: pointer;
}
.ness-table-container table td a:hover {
  text-shadow: 1px 1px black;
}
.ness-table-container table.col-center th,
.ness-table-container table.col-center td {
  text-align: center;
}
.ness-table-container table.col-left th,
.ness-table-container table.col-left td {
  text-align: left;
}
.ness-table-container table.col-right th,
.ness-table-container table.col-right td {
  text-align: right;
}
/*** Customize your table ***/
/* Tests */
.test {
  background: #40bf95;
  color: white;
}
.ness-bar {
  background: white;
  border: 1px solid #d5dadd;
  border-radius: 2px;
  width: 100px;
  height: 20px;
  position: relative;
}
.ness-bar .ness-progress {
  background: #2b8cee;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
}
.ness-mask {
  background: #2e3538;
  opacity: 0.7;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ness-displayed {
  display: block;
}
.ness-hidden {
  display: none;
}
.ness-invisible {
  opacity: 0;
}
.ness-visible {
  opacity: 1;
}
.ness-filter {
  background: rgba(0, 0, 0, 0.75);
}
.ness-list {
  list-style-type: none;
  padding: 0;
  position: relative;
  width: 100%;
}
.ness-list.circle {
  list-style-type: circle;
}
.ness-list.square {
  list-style-type: square;
}
.ness-list .item {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 6px 4px;
  width: 100%;
}
.ness-list .item .fa,
.ness-list .item .glyphicon {
  padding-right: 4px;
}
.clear-margin {
  margin: 0 !important;
}
.clear-padding {
  padding: 0 !important;
}
.clear-border {
  border: none !important;
}
.ness-title {
  padding: 10px 0px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid #d7dadb;
}
.margin-h {
  margin-left: 8px;
  margin-right: 8px;
}
.margin-v {
  margin-top: 8px;
  margin-bottom: 8px;
}
.padding-h {
  padding-left: 8px;
  padding-right: 8px;
}
.padding-v {
  padding-top: 8px;
  padding-bottom: 8px;
}
