html {
  height: 100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
}
p {
  color: #505c62;
}
a {
  color: #0d73a5;
  text-decoration: none;
}
a:hover {
  color: #0b628e;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #505c62;
  margin: 0px 0px 10px 0px;
  padding: 8px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 22px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}
@media (min-width: 750px) {
  aside {
    min-height: 600px;
  }
}
@media (min-width: 1000px) {
  aside {
    min-height: 800px;
  }
}
@media (min-width: 1300px) {
  aside {
    min-height: 1000px;
  }
}
article {
  margin-bottom: 20px;
}
/******************/
/***** COLORS *****/
/******************/
/* Base */
/* Extended */
/***** BG-COLORS *****/
.ness-bg-blue {
  background: #3db8f5;
}
.ness-bg-darkblue {
  background: #0d73a5;
}
.ness-bg-darkblue:hover {
  background: #08415e;
}
.ness-bg-darkgrey {
  background: #505c62;
}
.ness-bg-graphite {
  background: #5c6970;
}
.ness-bg-green {
  background: #1fad72;
}
.ness-bg-sand {
  background: #f4d371;
}
.ness-bg-papyrus {
  background: radial-gradient(circle, #feeecd, #e8bb7d);
}
.ness-bg-red {
  background: #e0525b;
}
.ness-bg-seablue {
  background: #33ddff;
}
.ness-bg-steelgrey {
  background: #c7ced1;
}
.ness-bg-yellow {
  background: #ffe02e;
}
/***** TEXT-COLORS *****/
.ness-text-blue {
  color: #13a4ec;
}
.ness-text-darkblue {
  color: #0d73a5;
}
.ness-text-darkgrey {
  color: #2e3538;
}
.ness-text-graphite {
  color: #5c6970;
}
.ness-text-green {
  color: #1fad72;
}
.ness-text-sand {
  color: #f4d371;
}
.ness-text-papyrus {
  color: #e8bb7d;
}
.ness-text-red {
  color: #e0525b;
}
.ness-text-seablue {
  color: #33ddff;
}
.ness-text-steelgrey {
  color: #c7ced1;
}
.ness-text-yellow {
  color: #ffe02e;
}
/***** GLOBAL MIXINS *****/
/**** KEYFRAMES *****/
@keyframes lightSpeedInX {
  0% {
    -webkit-transform: translateX(100%) skewX(-15deg);
    -ms-transform: translateX(100%) skewX(-15deg);
    transform: translateX(100%) skewX(-15deg);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateX(80%) skewX(-10deg);
    -ms-transform: translateX(80%) skewX(-10deg);
    transform: translateX(80%) skewX(-10deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(-20%) skewX(10deg);
    -ms-transform: translateX(-20%) skewX(10deg);
    transform: translateX(-20%) skewX(10deg);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateX(0%) skewX(-5deg);
    -ms-transform: translateX(0%) skewX(-5deg);
    transform: translateX(0%) skewX(-5deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
}
@keyframes lightSpeedOutX {
  0% {
    -webkit-transform: translateX(0%) skewX(0deg);
    -ms-transform: translateX(0%) skewX(0deg);
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  15% {
    -webkit-transform: translateX(20%) skewX(10deg);
    -ms-transform: translateX(20%) skewX(10deg);
    transform: translateX(20%) skewX(10deg);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: translateX(60%) skewX(20deg);
    -ms-transform: translateX(60%) skewX(20deg);
    transform: translateX(60%) skewX(20deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateX(100%) skewX(20deg);
    -ms-transform: translateX(100%) skewX(20deg);
    transform: translateX(100%) skewX(20deg);
    opacity: 0;
  }
}
@keyframes lightSpeedInY {
  0% {
    -webkit-transform: translateY(100%) skewY(-15deg);
    -ms-transform: translateY(100%) skewY(-15deg);
    transform: translateY(100%) skewY(-15deg);
    opacity: 0;
  }
  15% {
    -webkit-transform: translateY(80%) skewY(-10deg);
    -ms-transform: translateY(80%) skewY(-10deg);
    transform: translateY(80%) skewY(-10deg);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-20%) skewY(10deg);
    -ms-transform: translateY(-20%) skewY(10deg);
    transform: translateY(-20%) skewY(10deg);
    opacity: 0.6;
  }
  80% {
    -webkit-transform: translateY(0%) skewY(-5deg);
    -ms-transform: translateY(0%) skewY(-5deg);
    transform: translateY(0%) skewY(-5deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(0%) skewY(0deg);
    -ms-transform: translateY(0%) skewY(0deg);
    transform: translateY(0%) skewY(0deg);
    opacity: 1;
  }
}
@keyframes barAnimation {
  0% {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  25% {
    -webkit-transform: translateX(35%);
    -ms-transform: translateX(35%);
    transform: translateX(35%);
  }
  50% {
    -webkit-transform: translateX(70%);
    -ms-transform: translateX(70%);
    transform: translateX(70%);
  }
  100% {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/***** CLASSES *****/
.animate.lightSpeedInX {
  -webkit-animation-name: lightSpeedInX;
  animation-name: lightSpeedInX;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.animate.lightSpeedInX.lightSpeedOutX {
  animation-name: lightSpeedOutX;
}
.animate.lightSpeedInY {
  -webkit-animation-name: lightSpeedInY;
  animation-name: lightSpeedInY;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
/*********************/
/***** NESS GRID *****/
/*********************/
/***  Mixins ***/
/**
* Generate the 'ness-grid' which is a 12-column-based-flexbox grid
* Sizes : xs, sm, md, lg, xl (cf. 'width.less' for the values)
*/
.ness-grid {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.ness-grid .ness-xs-1 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 8.33333333%;
}
.ness-grid .ness-xs-2 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 16.66666667%;
}
.ness-grid .ness-xs-3 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 25%;
}
.ness-grid .ness-xs-4 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 33.33333333%;
}
.ness-grid .ness-xs-5 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 41.66666667%;
}
.ness-grid .ness-xs-6 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 50%;
}
.ness-grid .ness-xs-7 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 58.33333333%;
}
.ness-grid .ness-xs-8 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 66.66666667%;
}
.ness-grid .ness-xs-9 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 75%;
}
.ness-grid .ness-xs-10 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 83.33333333%;
}
.ness-grid .ness-xs-11 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 91.66666667%;
}
.ness-grid .ness-xs-12 {
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
  transition: .2s;
  width: 100%;
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-1 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-2 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-3 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-4 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-5 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-6 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-7 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-8 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-9 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-10 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-11 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 450px) {
  .ness-grid .ness-sm-12 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 100%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-1 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-2 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-3 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-4 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-5 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-6 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-7 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-8 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-9 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-10 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-11 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 750px) {
  .ness-grid .ness-md-12 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-1 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-2 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-3 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-4 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-5 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-6 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-7 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-8 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-9 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-10 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-11 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 1000px) {
  .ness-grid .ness-lg-12 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-1 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 8.33333333%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-2 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 16.66666667%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-3 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 25%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-4 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 33.33333333%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-5 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 41.66666667%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-6 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-7 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 58.33333333%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-8 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 66.66666667%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-9 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 75%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-10 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 83.33333333%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-11 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 91.66666667%;
  }
}
@media (min-width: 1300px) {
  .ness-grid .ness-xl-12 {
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
    transition: .2s;
    width: 100%;
  }
}
.flex-row {
  display: flex;
  flex-flow: row nowrap;
}
.flex-column {
  display: flex;
  flex-flow: column nowrap;
}
.center-center {
  justify-content: center;
  align-items: center;
}
.center-bottom {
  justify-content: center;
  align-items: flex-end;
}
.center-top {
  justify-content: center;
  align-items: flex-start;
}
.center-stretch {
  justify-content: center;
  align-items: stretch;
}
.center-baseline {
  justify-content: center;
  align-items: baseline;
}
.left-center {
  justify-content: flex-start;
  align-items: center;
}
.left-bottom {
  justify-content: flex-start;
  align-items: flex-end;
}
.left-top {
  justify-content: flex-start;
  align-items: flex-start;
}
.left-stretch {
  justify-content: flex-start;
  align-items: stretch;
}
.left-baseline {
  justify-content: flex-start;
  align-items: baseline;
}
.right-center {
  justify-content: flex-end;
  align-items: center;
}
.right-bottom {
  justify-content: flex-end;
  align-items: flex-end;
}
.right-top {
  justify-content: flex-end;
  align-items: flex-start;
}
.right-stretch {
  justify-content: flex-end;
  align-items: stretch;
}
.right-baseline {
  justify-content: flex-end;
  align-items: baseline;
}
/***** BLOCKS *****/
.ness-block {
  margin: 10px 0px;
  padding: 16px;
  position: relative;
  transition: .2s;
}
.ness-block.border {
  border: 1px solid #d5dadd;
}
.ness-block.no-border {
  border: none !important;
}
.ness-block.inverse {
  background: #505c62;
}
.ness-block.inverse * {
  color: #e3e6e8;
}
.ness-block.failure {
  background: #fad1d4;
  border: 1px solid #f6acb2;
}
.ness-block.failure * {
  color: #a1121e;
}
.ness-block.success {
  background: #d1fae2;
  border: 1px solid #acf6cb;
}
.ness-block.success * {
  color: #12a14d;
}
.ness-block.info {
  background: #d0edfb;
  border: 1px solid #aadef8;
}
.ness-block.info * {
  color: #0d73a5;
}
.ness-block.neutral {
  background: #e3e6e8;
  border: 1px solid #cdd3d6;
}
.ness-block.neutral * {
  color: #73848c;
}
.ness-block.warning {
  background: #f7daa1;
  border: 1px solid #f4cc7b;
}
.ness-block.warning * {
  color: #a5730d;
}
.ness-block.round {
  border-radius: 5px;
}
.ness-block.three-d {
  box-shadow: 0px 0px 6px 1px #73848c;
}
.ness-block.hover:hover {
  background: #505c62;
  border: #505c62;
  color: white !important;
}
.ness-block.hover:hover h1,
.ness-block.hover:hover h2,
.ness-block.hover:hover h3,
.ness-block.hover:hover h4,
.ness-block.hover:hover h5,
.ness-block.hover:hover h6,
.ness-block.hover:hover li,
.ness-block.hover:hover p,
.ness-block.hover:hover span {
  color: #e3e6e8 !important;
}
.ness-block.hover:hover .text-muted {
  color: #d5dadd !important;
}
.ness-block.hover:hover .ness-bar {
  border: none;
}
.ness-block .ness-inside-block {
  background: white;
  border: 1px solid #d5dadd;
  border-radius: 5px;
  padding: 12px;
}
.ness-edit-block .edit {
  display: none;
}
.ness-edit-block.edit-mode .edit {
  display: block;
}
.ness-edit-block.edit-mode .noedit {
  display: none;
}
/***** BUTTONS *****/
.ness-btn-group {
  padding: 8px;
}
.ness-btn-group .ness-btn {
  margin: 4px;
}
.ness-btn {
  background: #e3e6e8;
  border: 1px solid #d5dadd;
  color: #505c62;
  padding: 8px 12px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
.ness-btn.no-border {
  border: none;
}
.ness-btn.ness-btn-danger {
  background: #a1121e;
  border: 1px solid #a1121e;
  color: white;
}
.ness-btn.ness-btn-danger:hover {
  background: #730d15;
  color: white;
}
.ness-btn.ness-btn-primary {
  background: #0d73a5;
  border: 1px solid #0d73a5;
  color: white;
}
.ness-btn.ness-btn-primary:hover {
  color: white;
  background: #0a5276;
}
.ness-btn.ness-btn-success {
  background: #12a14d;
  border: 1px solid #12a14d;
  color: white;
}
.ness-btn.ness-btn-success:hover {
  color: white;
  background: #0d7337;
}
.ness-btn.ness-btn-warning {
  background: #eeaf2f;
  border: 1px solid #b89714;
  color: white;
}
.ness-btn.ness-btn-warning:hover {
  background: #d99712;
  color: white;
}
.ness-btn.ness-btn-xs {
  padding: 4px 6px;
  font-size: 12px;
}
.ness-btn.ness-btn-sm {
  padding: 10px 15px;
  font-size: 14px;
}
.ness-btn.ness-btn-md {
  padding: 20px 30px;
  font-size: 16px;
}
.ness-btn.ness-btn-lg {
  padding: 30px 45px;
  font-size: 18px;
}
/*** Core ***/
.ness-menu {
  background: #0d73a5;
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}
@media (min-width: 480px) {
  .ness-menu {
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}
.ness-menu.vertical {
  flex-flow: column wrap;
  align-items: stretch;
}
.ness-menu.vertical li {
  width: 100%;
}
.ness-menu.horizontal {
  flex-flow: row wrap;
}
.ness-menu li {
  display: flex;
}
.ness-menu a {
  background: #0b628e;
  color: white;
  display: block;
  padding: 12px;
  transition: 0.15s;
  width: 100%;
}
.ness-menu a:hover {
  background: #0b628e;
  box-shadow: 0px 0px 3px 1px #505c62;
  color: white;
  text-decoration: none;
}
.ness-menu .glyphicon {
  padding-right: 12px;
}
/*** Customization ***/
.ness-form-container h1,
.ness-form-container h2,
.ness-form-container h3,
.ness-form-container h4,
.ness-form-container h5,
.ness-form-container h6 {
  margin: 0 0 12px 0;
  padding: 12px 0px;
}
.ness-form-container h1:first-child,
.ness-form-container h2:first-child,
.ness-form-container h3:first-child,
.ness-form-container h4:first-child,
.ness-form-container h5:first-child,
.ness-form-container h6:first-child {
  border-bottom: 1px solid #d5dadd;
}
.ness-form-container h1 {
  font-size: 24px;
}
.ness-form-container h2 {
  font-size: 24px;
}
.ness-form-container h3 {
  font-size: 24px;
}
.ness-form-container h4 {
  font-size: 24px;
}
.ness-form-container .add-input,
.ness-form-container .add-option {
  color: #19e66f;
  cursor: pointer;
  font-size: 22px;
  margin-bottom: 8px;
}
.ness-form-container .add-input:hover,
.ness-form-container .add-option:hover {
  color: #12a14d;
}
.ness-form-container .remove-input {
  color: #e6192a;
  cursor: pointer;
  font-size: 22px;
}
.ness-form-container .remove-input:hover {
  color: #a1121e;
}
.ness-form-container .ness-form input,
.ness-form-container .ness-form select,
.ness-form-container .ness-form textarea {
  color: black;
  padding: 8px 16px;
}
.ness-form-container .ness-form input:focus,
.ness-form-container .ness-form select:focus,
.ness-form-container .ness-form textarea:focus {
  background: #73848c;
  color: white;
}
.ness-form-container .ness-form .add-input {
  color: #19e66f;
  cursor: pointer;
  font-size: 18px;
}
.ness-form-container .ness-form .add-input:hover {
  color: #12a14d;
}
.ness-form-container .ness-form .remove-input {
  color: #e6192a;
  cursor: pointer;
  font-size: 18px;
}
.ness-form-container .ness-form .remove-input:hover {
  color: #a1121e;
}
.ness-form-container .ness-form .edit {
  display: none;
}
.ness-form-container .ness-form.edit-mode .edit {
  display: block;
}
.ness-form-container .ness-form.edit-mode .noedit {
  display: none;
}
.ness-label {
  margin-bottom: 5px;
  padding: 6px 8px;
}
.ness-input {
  border: 1px solid #d5dadd;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px rgba(12, 13, 13, 0.1);
  padding: 8px 12px;
}
.ness-input:active,
.ness-input:focus {
  border: 1px solid #0d73a5;
  box-shadow: 0px 0px 1px 1px #d0edfb;
}
/***** ALERTS *****/
.ness-alert {
  background: #e3e6e8;
  border: 1px solid #d5dadd;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  left: 10%;
  top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
  padding: 20px;
  width: 100%;
  z-index: 3;
}
.ness-alert.success {
  background: #19e66f;
  border: 1px solid #14b858;
  color: white;
}
.ness-alert.danger {
  background: #e6192a;
  border: 1px solid #b81422;
  color: white;
}
.ness-alert.neutral {
  background: #13a4ec;
  border: 1px solid #0f83bd;
  color: white;
}
.ness-alert.three-d {
  box-shadow: 0px 1px 3px 1px grey;
}
/*** CUSTOMIZATION ***/
/***************************/
/********** TABLE **********/
/***************************/
.ness-table-container {
  align-self: stretch;
  border: 1px solid #e3e6e8;
  margin: 10px auto;
  overflow-x: auto;
  width: 100%;
}
.ness-table-container.half {
  width: 50%;
}
.ness-table-container.xs {
  width: 280px;
}
.ness-table-container.sm {
  width: 450px;
}
.ness-table-container.md {
  width: 720px;
}
.ness-table-container.lg {
  width: 950px;
}
.ness-table-container table {
  border-collapse: collapse;
  color: black;
  font-size: 0.9em;
  margin: auto;
  width: 100%;
}
.ness-table-container table thead tr {
  background: #73848c;
  border-bottom: 2px solid white;
  cursor: pointer;
}
.ness-table-container table tbody tr {
  color: black;
  cursor: pointer;
  transition: 0.12s;
}
.ness-table-container table tbody tr:nth-child(even) {
  background: white;
}
.ness-table-container table tbody tr:nth-child(odd) {
  background: #e3e6e8;
}
.ness-table-container table tbody tr:hover {
  background: #0d73a5;
  color: white;
}
.ness-table-container table tbody tr:hover a {
  color: white;
}
.ness-table-container table tbody tr a {
  text-decoration: none;
}
.ness-table-container table th {
  color: white;
  padding: 8px 16px;
  text-align: left;
}
.ness-table-container table th:not(:last-child) {
  border-right: 1px solid #d5dadd;
}
.ness-table-container table th:hover {
  background: #637179;
}
.ness-table-container table td {
  padding: 8px 16px;
}
.ness-table-container table td:not(:last-child) {
  border-right: 1px solid #d5dadd;
}
.ness-table-container table td:last-child {
  cursor: pointer;
}
.ness-table-container table td a:hover {
  text-shadow: 1px 1px black;
}
.ness-table-container table.col-center th,
.ness-table-container table.col-center td {
  text-align: center;
}
.ness-table-container table.col-left th,
.ness-table-container table.col-left td {
  text-align: left;
}
.ness-table-container table.col-right th,
.ness-table-container table.col-right td {
  text-align: right;
}
/*** Customize your table ***/
.ness-bar {
  background: white;
  border: 1px solid #d5dadd;
  border-radius: 2px;
  width: 100px;
  height: 20px;
  position: relative;
}
.ness-bar .ness-progress {
  background: #13a4ec;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  height: 100%;
}
.ness-mask {
  background: black;
  opacity: 0.7;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.ness-displayed {
  display: block;
}
.ness-hidden {
  display: none;
}
.ness-invisible {
  opacity: 0;
}
.ness-visible {
  opacity: 1;
}
.ness-filter {
  background: rgba(0, 0, 0, 0.75);
}
.ness-list {
  list-style-type: none;
  margin: 0 0 12px 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.ness-list.circle {
  list-style-type: circle;
}
.ness-list.square {
  list-style-type: square;
}
.ness-list .item {
  align-items: baseline;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 4px 4px;
  width: 100%;
}
.ness-list .item .fa,
.ness-list .item .glyphicon {
  padding-right: 4px;
}
.clear-margin {
  margin: 0 !important;
}
.clear-padding {
  padding: 0 !important;
}
