/***** ALERTS *****/

.ness-alert {
  background: @ness-lightgrey;
  border: 1px solid @ness-steelgrey;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  left: 10%; top: 100px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.95;
  padding: 20px;
  width: 100%;
  z-index: 3;
  //
  &.success {
    background: @ness-success;
    border: 1px solid darken(@ness-success, 10%);
    color: white;
  }
  &.danger {
    background: @ness-danger;
    border: 1px solid darken(@ness-danger, 10%);
    color: white;
  }
  &.neutral {
    background: @ness-neutral;
    border: 1px solid darken(@ness-neutral, 10%);
    color: white;
  }
  &.three-d {
    box-shadow: 0px 1px 3px 1px grey;
  }
}

/*** CUSTOMIZATION ***/

@ness-neutral: @ness-blue;
@ness-success: @ness-green;
@ness-danger: @ness-red;
