body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

body > header {
  background: @ness-darkgrey;
  color: @ness-lightgrey;
  padding: 10px;
}

header {
  h1 {
    margin: 0px;
    padding: 20px 8px;
  }
  h2 {
    margin: 0px;
    padding: 16px 8px;
  }
  h3 {
    margin: 0px;
    padding: 12px 8px;
  }
  h4 {
    margin: 0px;
    padding: 8px 8px;
  }
}

aside {
  @media(min-width: @width-md) {
    min-height: 600px;
  }
  @media(min-width: @width-lg) {
    min-height: 800px;
  }
  @media(min-width: @width-xl) {
    min-height: 1000px;
  }
}

article {
  margin-bottom: 20px;
}
