/*** BASE ***/
html {
  height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

hr {
width: 90%;
  text-align: center;
  background: @steelgrey;
}

p {
  color: @darkgrey;
}

a {
  color: @my-link-color;
  text-decoration: none;
  &:hover {
    color: @my-link-color-hover;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: @darkgrey;
  margin: 0px 0px 10px 0px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h1 { font-size: 36px }
h2 { font-size: 28px }
h3 { font-size: 22px }
h4 { font-size: 18px }
h5 { font-size: 14px }
h6 { font-size: 12px }

button {
  background: @lightgrey;
  color: @darkgrey;
  &:focus {
    outline: none;
  }
  &:hover {
    background: @darkgrey;
    color: @lightgrey;
  }
}

aside {
  @media(min-width: @width-md) {
    min-height: 600px;
  }
  @media(min-width: @width-lg) {
    min-height: 800px;
  }
  @media(min-width: @width-xl) {
    min-height: 1000px;
  }
}

article {
  margin-bottom: 20px;
}

/*** ***/
@my-link-color: black;
@my-link-color-hover: @darkgrey;
