// main : ness.less

/* -------------------- */

@import "color.less";
@import "mixin.less";
@import "animation.less";

/***** BUTTONS *****/
.ness-btn-group {
  padding: 8px;
  .ness-btn { margin: 4px; }
}
.ness-btn {
  background: @lightgrey !important;
  border: 1px solid @steelgrey;
  color: @darkgrey !important;
  cursor: pointer;
  padding: 8px 12px;
  .border-radius(4px);
  &:focus {
    outline: none;
  }
  &:hover {
    background: darken(@darkgrey, 10%) !important;
    color: white !important;
  }

  &.no-border { border: none; }

  &.small {
    border: 3px @border-type @border-color;
    font-size: 14px;
    padding: 10px;
  }
  &.medium {
    border: 3px @border-type @border-color;
    font-size: 18px;
    padding: 16px;
  }
  &.big {
    border: 3px @border-type @border-color;
    font-size: 22px;
    padding: 20px;
  }
  &.giant {
    border: 6px @border-type @border-color;
    font-size: 32px;
    padding: 24px;
  }

  &.ness-btn-danger {
    background: @darkred !important;
    border: 1px solid @darkred !important;
    color: white !important;
    &:hover {
      background: darken(@darkred, 10%) !important;
      color: white !important;
    }
  }
  &.ness-btn-primary {
    background: @darkblue !important;
    border: 1px solid @darkblue !important;
    color: white !important;
    &:hover {
      color: white !important;
      background: darken(@darkblue, 10%) !important;
    }
  }
  &.ness-btn-success {
    background: @darkgreen !important;
    border: 1px solid @darkgreen !important;
    color: white !important;
    &:hover {
      color: white !important;
      background: darken(@darkgreen, 10%) !important;
    }
  }
  &.ness-btn-warning {
    background: @mustard !important;
    border: 1px solid @brown !important;
    color: white !important;
    &:hover {
      background: darken(@mustard, 10%) !important;
      color: white !important;
    }
  }
}
//
@border-type: solid;
@border-color: @grey;
