.border {
  border: 1px solid @steelgrey;
}
.no-border {
  border: none !important;
}
.inverse {
  background: @darkgrey;
  * { color: @lightgrey };
}
.failure {
  background: @lightred;
  border: 1px solid darken(@lightred, 8%);
  * { color: @darkred };
}
.success {
  background: @lightgreen;
  border: 1px solid darken(@lightgreen, 8%);
  * { color: @darkgreen };
}
.info {
  background: @lightblue;
  border: 1px solid darken(@lightblue, 8%);
  * { color: @darkblue };
}
.neutral {
  background: @lightgrey;
  border: 1px solid darken(@lightgrey, 8%);
  * { color: @grey };
}
.warning {
  background: @sand;
  border: 1px solid darken(@sand, 8%);
  * { color: @wetsand };
}
.round {
  border-radius: 5px;
}
.three-d {
  box-shadow: 0px 1px 5px 1px @grey;
}
.shadow {
  box-shadow: 0px 1px 4px 1px @grey;
}
.hover {
  :hover {
    background: @darkgrey;
    border: @darkgrey;
    color: white !important;
    h1,h2,h3,h4,h5,h6,li,p,span { color: @lightgrey !important }
    .text-muted { color: @steelgrey !important }
    .ness-bar {border: none}
  }
}