.flex {
  display: flex;
  align-content: flex-start;
  &.row {
     flex-flow: row nowrap;
    .cross() {
      &-center { .common(); align-items: center; }
      &-bottom { .common(); align-items: flex-end; }
      &-top { .common(); align-items: flex-start; }
      &-stretch { .common(); align-items: stretch; }
      &-baseline { .common(); align-items: baseline; }    
    }
    &.center {
      .common() { justify-content: center; }
      .cross();
    }
    &.left {
      .common() { justify-content: flex-start; }
      .cross();
    }
    &.right {
      .common() { justify-content: flex-end; }
      .cross();
    }
    &.split {
      .common() { justify-content: space-between; }
      .cross();
    }
    &.space {
      .common() { justify-content: space-around; }
      .cross();
    }
  }
  &.column {
    flex-flow: column nowrap;
    .cross() {
      &-center { .common(); align-items: center; }
      &-right { .common(); align-items: flex-end; }
      &-left { .common(); align-items: flex-start; }
      &-stretch { .common(); align-items: stretch; }
      &-baseline { .common(); align-items: baseline; }    
    }
    &.center {
      .common() { justify-content: center; }
      .cross();
    }
    &.top {
      .common() { justify-content: flex-start; }
      .cross();
    }
    &.bottom {
      .common() { justify-content: flex-end; }
      .cross();
    }
    &.split {
      .common() { justify-content: space-between; }
      .cross();
    }
    &.space {
      .common() { justify-content: space-around; }
      .cross();
    }
  }
}

