.ness-form-container {
  padding: @small;
  h1, h2, h3, h4, h5, h6 {
    margin: 0 0 12px 0;
    padding: 12px 0px;
    &:first-child { border-bottom: 1px solid @steelgrey }
  }
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 24px;
  }
  //
  .add-input,
  .add-option {
    color: @green;
    cursor: pointer;
    font-size: 22px;
    margin-bottom: 8px;
    &:hover {
      color: @darkgreen;
    }
  }
  .remove-input {
    color: @red;
    cursor: pointer;
    font-size: 22px;
    &:hover {
      color: @darkred;
    }
  }
  .ness-form {
    input, select, textarea {
      color: black;
      padding: 8px 16px;
      &:focus {
        background: @grey;
        color: white;
      }
    }
    .add-input {
      color: @green;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: @darkgreen;
      }
    }
    .remove-input {
      color: @red;
      cursor: pointer;
      font-size: 18px;
      &:hover {
        color: @darkred;
      }
    }
    .edit { display: none }
    &.edit-mode {
      .edit { display: block; }
      .noedit { display: none; }
    }
  }
}

.ness-label
{
  margin-bottom: 5px;
  padding: 6px 8px;
}
.ness-input
{
  border: 1px solid @steelgrey;
  border-radius: 4px;
  box-shadow: inset 0px 1px 2px hsla(200, 5%, 5%, 0.1);
  padding: 8px 12px;
  &:active, &:focus
  {
    border: 1px solid @darkblue;
    box-shadow: 0px 0px 1px 1px @lightblue;
  }
}
.ness-checkbox {
  background: @lightgrey 100%;
  background: linear-gradient(top, @lightgrey 0%, white 50%, @lightgrey 100%);
  border-radius: 5px/10px;
  height: @medium; width: @medium;
  position: relative;
  & + input[type=checkbox] {
    visibility: hidden;
  }   
}
