// out: false
/*** MENU ***/

@import "color.less";
@import "mixin.less";

.ness-menu {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    cursor: pointer;
    padding: 4px 8px;
    .flex(column, center, stretch);
    &:hover {
      border: none;
      z-index: 1;
    }
  }
  a {
    display: flex;
    color: @darkgrey;
    cursor: pointer;
    padding: 8px;
    &:hover {
      color: @darkgrey;
      text-decoration: none;
    }
  }
  &.center {
    a {
      justify-content: center;
    }
  }
  //
  @media(min-width: @width-md) {
    flex-flow: row nowrap;
    // justify-content: flex-start;
  }
  //
  .glyphicon { padding-right: 12px }
}
