// out: false
/*** MENU ***/

@import "color.less";
@import "mixin.less";

.ness-menu {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  @media(min-width: @menu-breakpoint) {
    flex-flow: row nowrap;
  }
  li {
    &:not(:last-of-type) {
      border-bottom: 1px solid hsla(200, 0, 0, 0.15);
    }
    @media (min-width: @menu-breakpoint) {
      border-bottom: none;
      &:not(:last-of-type) {
        border-bottom: none;
        border-right: 1px solid hsla(200, 0, 0, 0.15)
      }
    }
    color: @darkgrey;
    cursor: pointer;
    transition: .15s;
    .flex(column, center, stretch);
    &:hover {
      z-index: 1;
    }
      a {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
      color: @darkgrey;
      cursor: pointer;
      padding: 8px 12px;
      transition: .15s;
      &:hover {
        background: @lightgrey;
        box-shadow: 0px 0px 5px 1px hsla(200, 0%, 0%, 0.8);
        color: @darkgrey;
        text-decoration: none;
      }
    }
  }
  &.border {
    border: 1px solid @menu-border-color;
    .dropdown-content {
      border: 1px solid @menu-border-color;
    }
  }
  &.round {
    & > li {
      &:first-of-type {
        a {
          border-radius: 4px 4px 0px 0px;
        }
      }
      &:last-of-type {
        a {
          border-radius: 0px 0px 4px 4px;
        }
      }
    }
    @media (min-width: @menu-breakpoint) {
      & > li {
        &:first-of-type {
          a {
            border-radius: 4px 0px 0px 4px;
          }
        }
        &:last-of-type {
          a {
            border-radius: 0px 0px 0px 0px;
          }
        }
      }
    }
  }
  // Colors
  &.grey {
    background: @darkgrey;
    a { 
      background: @darkgrey;
      color: @menu-txt-color;
      &:hover {
        color: @darkgrey;
      }
    }
    .dropdown-content {
      background: darken(@darkgrey, 3%);
      a {
        background: darken(@darkgrey, 3%);
      }
    }
  }
  &.red {
    background: @darkred;
    a { 
      background: @darkred;
      color: @menu-txt-color;
      &:hover {
        color: @darkred;
      }
    }
    .dropdown-content {
      background: darken(@darkred, 3%);
      a {
        background: darken(@darkred, 3%);
      }
    }
  }
  &.green {
    background: @darkgreen;
    a {
      background: @darkgreen;
      color: @menu-txt-color;
      &:hover {
        color: @darkgreen;
      }
    }
    .dropdown-content {
      a {
        background: darken(@darkgreen, 3%);
      }
    }
  }
  &.blue {
    background: @darkblue;
    a {
      background: @darkblue;
      color: @menu-txt-color;
      &:hover {
        color: @darkblue;
      }
    }
    .dropdown-content {
      a {
        background: darken(@darkblue, 3%);
      }
    }
  }
  .fa {
    font-size: .9em;
    padding-left: 10px;
  }
  // Dropdown
  &.has-dropdown {
    position: relative;
  }
  .dropdown-content {
    display: none;
    flex-direction: column;
    list-style-type: none;
    box-shadow: 0px 0px 4px @blackgrey;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    @media(min-width: @menu-breakpoint) {
      width: initial;
    }
    li {
      &:hover {
        z-index: 2;
        a {
          background: @lightgrey;
          z-index: 2;
        }
      }
    }
  }
  // Burger
  &.burger {
    display: none;
    @media(min-width: @menu-breakpoint) {
      display: flex;
    }
  }
  //
  .glyphicon { padding-right: 12px }
}

.has-burger {
  .flex(column, flex-start, stretch);
}
.toggle-burger {
  border: 1px solid @darkgrey;
  border-radius: 5px;
  cursor: pointer;
  color: @darkgrey;
  font-size: 1.3em;
  margin-bottom: @tiny;
  padding: @tiny;
  .flex(row, center, center);
  @media(min-width: @menu-breakpoint) {
    display: none;
  }
  &:hover {
    color: @grey;
  }
}

// Specific colors
@menu-txt-color : lighten(@lightgrey, 2%);
@menu-border-color: hsla(200, 0%, 10%, 0.8);
@menu-breakpoint: (@width-md + 1);