// out: false
/*** GLOBAL MIXINS ***/

.border-radius(@radius: 5px) {
  -webkit-border-radius: @radius;
  -ms-border-radius: @radius;
  border-radius: @radius;
}

.flex(@direction: row, @main: center, @secondary: center, @wrap: nowrap) {
  display: flex;
  flex-direction: @direction;
  flex-wrap: @wrap;
  justify-content: @main;
  align-items: @secondary;
}

.setFadeOut(@color: black; @start: 100%; @end: 20%) {
  background: linear-gradient(fadeOut(@color, @start), fadeOut(@color, @end));
}

.translateX(@value: 0%) {
  -webkit-transform: translateX(@value);
  -ms-transform: translateX(@value);
  transform: translateX(@value);
}
.translateY(@value: 0%) {
  -webkit-transform: translateY(@value);
  -ms-transform: translateY(@value);
  transform: translateY(@value);
}
