@import "base.less";
@import "color.less";
@import "size.less";
@import "font.less";
@import "mixin.less";
@import "animation.less";
@import "grid.less";
@import "flex.less";
@import 'button.less';
@import 'menu.less';
@import 'form.less';
@import 'block.less';
@import 'alert.less';
@import 'contextual.less';
@import 'shape.less';
@import 'table.less';

// Progress bars
.ness-bar {
  background: white;
  border: 1px solid @steelgrey;
  border-radius: 2px;
  width: 100px;
  height: 20px;
  position: relative;
  .ness-progress {
    background: @blue;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    height: 100%;
  }
}

// Masks
.ness-mask {
  background: black;
  opacity: 0.7;
  bottom: 0; top: 0; left: 0; right: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.ness-displayed {
  display: block;
}
.ness-hidden {
  display: none;
}
.ness-invisible {
  opacity: 0;
}
.ness-visible {
  opacity: 1;
}

.ness-filter {
  background : rgba(0,0,0,0.75);
}

.ness-list {
  list-style-type: none;
  margin: 0 0 12px 0; padding: 0;
  position: relative;
  width: 100%;
  //
  &.circle { list-style-type: circle; }
  &.square { list-style-type: square; }
  //
  .item {
    align-items: baseline;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 6px 4px;
    width: 100%;
    .fa, .glyphicon {
      padding-right: 4px;
    }
  }
}

.clear-margin { margin: 0 !important }
.clear-padding { padding: 0 !important }

.ness-title {
  padding: 10px 0px;
  margin-left: 16px; margin-right: 16px; margin-bottom: 16px;
  border-bottom: 2px solid hsl(190, 5%, 85%);
}