.ness-box {
  content: '';
  width: 9px;
  height: 5px;
  bottom: 0px;
  top: 2px;
  right: -2px;
  border: 3px solid @box-color;
  border-top: none;
  border-right: none;
  background: transparent;
  position: absolute;
  transform: rotate(-45deg); 
}

@box-color: darken(@turquoise, 10%);